NODE_ENV=development
PORT=4000
CLIENT_URL=http://localhost:5173

# FRONTEND_IMAGE=deluxdeepak/scalex-frontend:a911200b517e119426ad47b753adb8964e2a31b4
# BACKEND_IMAGE=deluxdeepak/scalex-backend:a911200b517e119426ad47b753adb8964e2a31b4

MONGO_URL=mongodb://mongo:27017
REDISH_URL=redis://redis:6379

MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS=minioadmin
MINIO_SECRET=minioadmin

STORAGE_BUCKET=devbucket
FILE_BASE_URL=http://minio:9000/devbucket

JWT_ACCESS_SECRET=deepakkumar
JWT_REFRESH_SECRET=deepakkumar

# Monitoring
SENTRY_DSN=https://0b12f3124fe5faf95476a0d68d9851a5@o4511066723909632.ingest.us.sentry.io/4511066741014529