#     =======Local env example ===================

PORT=4000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
# Jwt secret 
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

MONGO_URL=mongodb://127.0.0.1:27017
# ===================Redis ===========================
REDISH_URL=redis://localhost:6379    

# Cloud connection 
DB_REDIS_USERNAME=
DB_REDIS_PASSWORD=
DB_REDIS_HOST=
DB_REDIS_PORT=

# S3 compatible 
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS=minioadmin
MINIO_SECRET=minioadmin
# Name of bucket 
STORAGE_BUCKET=devbucket
FILE_BASE_URL=http://localhost:9000/devbucket

# Monitoring ============
SENTRY_DSN=


