#     =======Local env example ===================

PORT=4000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
# Jwt secret 
JWT_ACCESS_SECRET=deepakkumar
JWT_REFRESH_SECRET=deepakkumar



MONGO_URL=mongodb://127.0.0.1:27017

# ===================Redis ===========================
REDISH_URL=redis://localhost:6379    #local connection from host --docker 

# Backend ko bhi docker then ye 
# REDISH_URL=redis://redis:6379    #Docker connection(service name dena parega) docker--docker


# Cloud connection 
DB_REDIS_USERNAME=default
DB_REDIS_PASSWORD=VIAoY9CteW0ODSLI6UCEfIbJpNDZjjE5
DB_REDIS_HOST=redis-17511.c301.ap-south-1-1.ec2.cloud.redislabs.com
DB_REDIS_PORT=17511

# S3 compatible 
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS=minioadmin
MINIO_SECRET=minioadmin
# Name of bucket 
STORAGE_BUCKET=devbucket
FILE_BASE_URL=http://localhost:9000/devbucket

# Monitoring ============
SENTRY_DSN=https://0b12f3124fe5faf95476a0d68d9851a5@o4511066723909632.ingest.us.sentry.io/4511066741014529


